@page "/"

<h1>Hello, world!</h1>

<EmptyBlazorApp1.ButtonComponent.Button Name="Button1"></EmptyBlazorApp1.ButtonComponent.Button>
<EmptyBlazorApp1.ButtonComponent.Button Name="Button2"></EmptyBlazorApp1.ButtonComponent.Button>